@import "variables";

.blank-header {
  padding-bottom: 60px;
  padding-top: 60px;
}

.feature-group .flex-row {
  flex-wrap: wrap;
  justify-content: start;
}

.blockquote-alt.cicd-blockquote {
  background: #ffffff;
  border-left: 5px solid $color-primary;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  color: $color-gray-darken;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding: 30px;
}

.resource-block {
  padding-left: 0;
}

.resource-block .block-title {
  color: #222222;
}

.resource-list-item {
  display: list-item;
  list-style: outside;
  margin-left: 30px;
  width: calc(100% - 30px);
}

@media (min-width: 992px) {
  .resource-list-item {
    margin-bottom: 10px;
  }
}

.cta-featured-grid {
  text-align: center;
}

.cta-featured-grid p:not([class]) {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  text-align: left;
}

.featured-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-icon {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  flex: 0 0 280px;
  margin: 20px 20px 0px 20px;
  padding: 15px 20px 30px 20px;
  text-align: center;
  width: 280px;
}

.featured-icon .number {
  color: $color-dark;
  font-size: 28px;
  margin-bottom: 10px;
}

.featured-icon .description {
  color: $color-gray-features;
  font-size: 15px;
  line-height: 1.25;
}

.featured-icon svg {
  color: $color-gray-light;
  height: 50px;
  margin: 0px 0px 5px 0px;
  max-width: 120px;
}

